*{
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 24px 0;    
    font-size: 16px;
}

img {
    width: 100%;
}